<!DOCTYPE html>
{% load static %}
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-6 text-left">
                <h5 class="blog-header-logo text-dark">Radek G.</h5>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                         viewBox="0 0 24 24" focusable="false"><title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5"/>
                        <path d="M21 21l-5.2-5.2"/>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:post_feed' %}">Subscribe to my RSS
                    feed</a>
            </div>
        </div>
    </header>

    {#    <div class="nav-scroller py-1 mb-2">#}
    {#        <nav class="nav d-flex justify-content-between">#}
    {#            <a class="p-2 text-muted" href="#">World</a>#}
    {#            <a class="p-2 text-muted" href="#">U.S.</a>#}
    {#            <a class="p-2 text-muted" href="#">Technology</a>#}
    {#            <a class="p-2 text-muted" href="#">Design</a>#}
    {#            <a class="p-2 text-muted" href="#">Culture</a>#}
    {#            <a class="p-2 text-muted" href="#">Business</a>#}
    {#            <a class="p-2 text-muted" href="#">Politics</a>#}
    {#            <a class="p-2 text-muted" href="#">Opinion</a>#}
    {#            <a class="p-2 text-muted" href="#">Science</a>#}
    {#            <a class="p-2 text-muted" href="#">Health</a>#}
    {#            <a class="p-2 text-muted" href="#">Style</a>#}
    {#            <a class="p-2 text-muted" href="#">Travel</a>#}
    {#        </nav>#}
    {#    </div>#}

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="row">
            <div class="col-md-5 px-0">
                <h1 class="display-4 font-italic"><a href="{% url 'blog:post_list' %}" class="text-white"
                                                     style="text-decoration-line: none">My Blog</a></h1>
                <p class="lead my-3">This is my blog. I've written {% total_posts %} posts so far.</p>
            </div>
            <div class="col-md-3 px-0">
                <br>
                <h3 class="display-8 font-italic">Latest posts</h3>
                {% show_latest_posts 3 %}
            </div>
            <div class="col-md-4 px-0">
                <br>
                <h3 class="display-8 font-italic">Most commented posts</h3>
                {% get_most_commented_posts as most_commented_posts %}
                <ul>
                    {% for post in most_commented_posts %}
                        <li>
                            <a href="{{ post.get_absolute_url }}" class="text-white"
                               style="font-size: 1.5em; text-decoration-line: none">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>